extends ../layout

mixin link(descrip, link, descLink)
  li.container
    .box
      h4 #{descrip}
      a(href=link) #{descLink}

block content
  h1= title
  p Welcome to #{title}
  ul
    +link("Secret content with WWW Auth of Fixed Session:",
      '/session/secretFixedSession', 'Secret')
    +link("Sign up in array user with Form:", '/session/signup', 'Sign Up')
    +link("Go back:", '/', 'Home')
  br
  br
